@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}

body{

    font-family: Arial, Helvetica, sans-serif;
  
}

/* Campo de texto */
.busca {
     border: 1px solid #ccc;
     padding: 10px;
     border-radius: 5px;
     margin-top: 20px;
     margin-bottom: 2px;
     margin-right: -42px;
     width: 30%;
     outline: none; 
    font-size: 16px;
     flex: 1;
    background-color: #ffffff;
    color: #333;
    transition: border-color 0.3s;
    position: relative;
    left: 33%;
}

.busca::placeholder{
    font-size: 14px;
    color: rgb(87, 87, 87);
    
}

.busca:focus {
    border-color: red;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.novoFiado {
    display: inline-block;
    text-decoration: none;
    padding: 10px 50px;
    background-color: #6B0504;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    cursor: pointer;
    top: 20px;
    left: 20px;
    position: absolute;
}

.listaConv {
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    background-color: #6B0504;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    cursor: pointer;
    top: 10%;
    left: 1.5%;
    position: fixed;
}



a[href*="editar"], a[href*="excluir"] {
    background-color: #6B0504;
    text-decoration: none;
    padding: 10px 23px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

a:hover {
      opacity: 0.9;
     background-color: #dc3545;;
}

/* Container dos cards */
.container-pai {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-carrossel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: #FFE4E1;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 50px;
    margin: 40px;
    width: 25%;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    transition: all 0.5s ease;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.card .preco {
    font-family: helvetica;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
    margin-top: -40px;
    margin-right: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(254,249,242,1); /* Cor 3 */
    background-color: #6B0504; /* Cor 1 */
    border-radius: 10%;
    padding: 5px 20px;
    
}

.card .desc {
    font-family: helvetica;
    font-size: 25px;
    margin-bottom: 20%;
    margin-left: 5px;
    width: 100%;
    color: rgba(254,249,242,1); /* Cor 3 */
    border-radius: 5px;
    padding: 50px;
    color: #6B0504;
}

.card p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: -12px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 10px;
    color: #ffffff; /* Cor 3 */
    background-color: #6B0504;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.card button {
    border: none;
    border-radius: 32px;
    padding: 12px 40px;
    background-color: rgb(201, 233, 210); /* Cor 4 */
    color: rgba(120,157,188,1); /* Cor 1 */
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

.card a {
    text-decoration: none;
}


/* Responsividade para os cards */
@media (max-width: 600px) {
    .container-pai {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 90%;
        margin: 20px auto;
    }
}



